:root{--main_color:#473a30;}

/*----------------------Homepage--------------------*/

.bgimage {
  background-image: url("../img/barbershop_blurred_small.jpg");
  background-position: center;
  min-height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  max-width: 100%;
  text-align: center;
}

#homepage_orari{
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

#hompage_contatti{
  margin-left: 5%;
  margin-right: 5%;
}

@media screen and (min-width: 1171px){
  #homepage_left_col{
    width:50%;
    text-align: justify;
    margin-left:5%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  #homepage_right_col{
    margin:5%;
  }
}

@media screen and (max-width: 1170px) {
  #homepage_left_col{
    width:100%; 
    margin-left:0%; 
    margin-right:0px; 
    padding-left: 10%; 
    padding-right:10%;
    text-align: justify;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  #homepage_right_col{
    width:100%; 
    min-height: 350px;
    margin-top: 0px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
  }
}
@media screen and (min-width: 501px){
  #homepage_titolo{
    color: white;
    font-size:6vw;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
  }
  #homepage_bottone{
    width: 200px;
    height: 50px;
    margin-bottom: auto;
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(255, 255, 255);
    opacity: 80%;
    border:none;
    color:var(--main_color);
    font-size: 14px;
    text-align: center;
    border-radius: 25px;
  }
}
@media screen and (max-width: 500px) {
  #homepage_titolo{
    color: white;
    font-size:10vw;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
  }
  #homepage_bottone{max-width:140px;
    width: 200px;
    height: 30px;
    margin-bottom: auto;
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(255, 255, 255);
    opacity: 80%;
    border:none;
    color:var(--main_color);
    font-size: 10px;
    text-align: center;
    border-radius: 25px;
    line-height:15px;
  }
}

/*---------------------Chi Siamo---------------------*/
@media screen and (min-width:1201px) {
  .chisiamo_mappa{
    width:50%;
    text-align: center;
    height: 600px;
  }
}

@media screen and (max-width:1200px) {
  .chisiamo_mappa{
    width:40%;
    text-align: center;
    height: 350px;
  }
}

@media screen and (max-width:900px) {
  .chisiamo_mappa{
    width:100%;
    padding-right: 15%;
    padding-left: 15%;
    margin-bottom: 10%;
    height: 400px;
  }
}

@media screen and (max-width:600px) {
  .chisiamo_mappa{
    width:100%;
    padding-right: 5%;
    padding-left: 5%;
    margin-bottom: 10%;
    height: 350px;
  }
}

.chisiamo_icone{
  text-align: center;
}

.team_icon{
  margin-left: 13px;
  margin-right:12px;
  margin-top: 15%;
  margin-bottom: 1.5%; 
  width: 100px;
  max-width: 125px;
  height: auto;
  border-radius: 100%; 
}

/*----------------Prenota Appuntamento-----------------*/
@media screen and (min-width:1145px) {
  .prenota_semiriga{
    width:50%;
    height: 100%;
  }
  .box_prenotazione{
    border: 2px solid var(--main_color); 
    border-radius: 20px; 
    padding-top: 5%; 
    padding-bottom: 5%; 
    width: 80%;
    margin-left: 10%;
  }
  .galleria{
    width:30%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }  
}

@media screen and (max-width:1144px) {
  .prenota_semiriga{
    width: 100%;
    height: fit-content;
  }
  .box_prenotazione{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border: 2px solid var(--main_color); 
    border-radius: 20px; 
    padding-top: 5%; 
    padding-bottom: 5%; 
  }
  .galleria{
    width:30%;
    margin-top: 15%;
    margin-bottom: 15%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width:540px){
  .galleria{
    width:60%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
  }
}

.location-listing:focus .location-title {
  opacity: 1;
}

.location-listing:focus .location-image img {
  filter: blur(2px);
}
.inputPrenota {
  width: 50%;
  margin-bottom: 5%;
  min-width: 120px;
  
}

.grid-container {
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  justify-content: space-evenly;
  align-content:space-around;

}  

.location-listing {
  width: 100%;
  height: auto;
  position:relative;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: auto;
  margin-right: auto;
}

.location-image {
  line-height: 0;
  overflow: hidden;
}

.location-image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}

.img_taglio{
  height: auto;
  width:100%;
}

.location-title {
  font-size: 1.5em;
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
  background: rgba(92, 68, 16, 0.4);
  
  /* position the text in t’ middle*/
  display: flex;
  align-items: center;
  justify-content: center;
}
.location-listing:hover .location-title {
  opacity: 1;
}

.location-listing:hover .location-image img {
  filter: blur(2px);
}

/*----------------------Login-----------------------*/

@media screen and (min-width: 850px) {
  .login_nota{
    width: 30%; 
    font-size: 14px;
    justify-content: center;
    padding: 5%;
  }
  .box_login{
    margin-left: 10% ;
    margin-right: 10%; 
    margin-bottom: 10%; 
    border: 2px solid var(--main_color); 
    padding-left: 5%;
    padding-bottom:2%; 
    border-radius: 20px; 
    padding-right:5% ; 
    padding-top: 2%;
    max-width: 30%;
  }
}

@media screen and (max-width: 849px) {
  .login_nota{
    width: 70%; 
    font-size: 14px;
    justify-content: center;
    padding: 5%;
  }
  .box_login{
    margin-left: 10% ;
    margin-right: 10%; 
    margin-bottom: 10%; 
    border: 2px solid var(--main_color); 
    padding-left: 5%;
    padding-bottom:2%; 
    border-radius: 20px; 
    padding-right:5% ; 
    padding-top: 2%;
    max-width: 60%;
  }
}

@media screen and (max-width: 380px) {
  .login_nota{
    width: 70%; 
    font-size: 14px;
    justify-content: center;
    padding: 5%;
  }
  .box_login{
    margin-left: 10% ;
    margin-right: 10%; 
    margin-bottom: 10%; 
    border: 2px solid var(--main_color); 
    padding-left: 5%;
    padding-bottom:2%; 
    border-radius: 20px; 
    padding-right:5% ; 
    padding-top: 2%;
    max-width: 80%;
  }
}



.bottone_login{
  border-radius: 20px;
  text-align: center ; 
  background-color:var(--main_color); 
  padding-left: 6%; 
  padding-right: 6%; 
  padding-top:2%; 
  padding-bottom: 2%; 
  border: 0px;
  color: white;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  opacity: 80%;
}




/*--------------------Registrati-----------------*/

@media screen and (min-width:801px) {
  .box_registrazione{
    width: 40%;
  }
  .table_registrazione{
    width:170px;
  }
  #nota_registrazione{
    width:50%;
  }
}

@media screen and (max-width:800px) {
  .box_registrazione{
    width: 70%;
  }
  .table_registrazione{
    width:170px;
  }
  #nota_registrazione{
    width:60%;
  }
}

@media screen and (max-width:400px) {
  .box_registrazione{
    width: 80%;
  }
  .table_registrazione{
    width:60%;
  }
  #nota_registrazione{
    width:80%;
  }
  
}

.data{
  flex-wrap: wrap;
}

.box_registrazione{
  text-align: center;
  margin-bottom: 30px; 
  border: 2px solid var(--main_color); 
  padding-bottom: 25px; 
  border-radius: 20px; 
  padding-top: 25px;
  justify-content: center; 
  margin: auto;
}

#nota_registrazione{
  align-content: center; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

#registrati_logo{
  margin:auto;
  width:200px;
}

.casella_registrazione{
  width:100%;
  margin-bottom: 8%;
  border-radius: 10px;
  border-style: solid;
  border-width:1px;
  border-color: black;
}

/*----------------Profilo--------------------*/


.profilo_form{
  margin-right: 5%;
  margin-left: 5%;
  margin-top:0%;
  margin-bottom: 5%;
  border: 2px solid  var(--main_color); 
  padding-left:2%;
  padding-bottom: 2%; 
  border-radius: 20px; 
  padding-right:2%;
}

.profilo_form2{
  
 
  margin-left:5%; 
  margin-right: 5%;
  margin-top: 0%;
  margin-bottom: 5%;
  border: 2px solid var(--main_color); 
  padding-left:10%;
  padding-bottom: 2%; 
  border-radius: 20px; 
  padding-right:10%;
  
}

/*----------Barra a fondo pagina--------*/
.barraFinePagina{
  background-color: #473a30;
  border-top-left-radius: 25px; 
  border-top-right-radius: 25px;
  bottom:0;
  width: 100%;
  height: fit-content;
  margin-top: auto;
}

@media screen and (min-width:800px){
  .testoFinePagina{
    font-size: 13px;
  }
}

@media screen and (max-width:800px){
  .testoFinePagina{
    font-size: 10px;
  }
}

.testoFinePagina{
  margin: 6%;
  color: white; 
  text-align:center
}

/*-------------Fogli di stile------------*/

/*Generico*/


@media screen and (max-width: 1050px) {
  .navbar-nav>li{font-size: 16px;}
}



body { padding-top: 100px; }

.content {
  left: 0;
  right: 0;
  z-index: 9999;
  margin-left: 20px;
  margin-right: 20px;
}

h1 {
  display: flex;
  flex-direction: row;
}
h1:before, h1:after{
  content: "";
  flex: 1 1;
  border-bottom: 5px solid;
  margin: auto;
}
h1:before {
  margin-right: 10px 
}
h1:after {
  margin-left: 10px
}



.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
  font-size: 20px;
}



.p1 {
  
  margin-top: 5%;
  text-align:center;
  max-height: 10%;
  margin-left: 10%;
  margin-right: 10%;
}

.p2{
  margin-top: 5%;
  text-align:start;
  margin-left: 5%;
  margin-right: 50%;
  width: 40%;
  max-width: 40%;
  min-width: 40%;
}

.grafica_titolo{
  background-color: var(--main_color);
  color: white;
  font-size:6vw;
  font-family: 'Times New Roman', Times, serif;
  padding-bottom: 5px;
  border-radius: 100px;
  margin-bottom: 5%;
  display: none;
}





.paragrafo_titolo{
  color: var(--main_color);
  font-size:150% ; 
  font-family: 'Times New Roman', Times, serif; 
  text-align: center;
}

.paragrafo_contenuto{
  text-align: center; 
  margin-left: 20%; 
  margin-right: 20%;
  font-size: 100% ; 
  margin-bottom: 10%;
}

.bottone_generico{
  border-radius: 30px;
  text-align: center ; 
  background-color:var(--main_color); 
  padding-left: 6%; 
  padding-right: 6%; 
  padding-top:2%; 
  padding-bottom: 2%; 
  border: 0px;
  color: white;
  opacity:80%;
}



.mp{

  max-width: 100%;
  margin-left: 10%;
  margin-right: 10%;
  height: 80%;
  width: 80%;

}


.hidden{
  display:none;
}