<!DOCTYPE html>
<html lang="it">
<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>BarberShop</title>

    <!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="css/styles.css">
        
        <script>

                function bigIcon(e){
                        e.style.height="125px";
                        e.style.width="125px" ;
                        document.getElementById("space").style.height="25px";
                }

                function normIcon(e){
                        e.style.height="100px";
                        e.style.width="100px";
                        document.getElementById("space").style.height="50px";
                }

               
        </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" id="navbar_barber"  >
			<a class="navbar-brand px-3" href="/"><img src="../img/barbershop_logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button> 
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"> 
                <li class="nav-item">
                        <a class="nav-link" href="/">Homepage </a>
                </li>
                <li class="nav-item-active">
                        <a class="nav-link" href="chisiamo"><strong>Chi siamo </strong><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="prenota">Prenota Appuntamento</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="login">Il mio profilo</a>
                </li>
        </ul>
    </div>
    </nav>
    <div class="content text-center">
        <h1 class="h1" style="background-color: #987654; color: white; font-size:6vw; font-family: 'Times New Roman', Times, serif; padding-bottom: 5px; border-radius: 100px;">Barber Shop</h1>
    </div>
    <div class="d-flex flex-row justify-content-center" style="max-width: 100%;">
        
                <div class="flex-col" style="max-width: 100%;">
                    <h2 class="h2" style="color:#987654;font-size:150% ; font-family: 'Times New Roman', Times, serif; text-align: center;margin-top: 50px;">Chi Siamo</h2>
                        <p style="text-align: center; margin-left: 20%; margin-right: 20%;font-size: 100% ; margin-bottom: 10%;">Nel 1892 abbiamo aperto la nostra prima sede a Milano. Ora il team è composto da 5 barbieri professionisti. Tutti i nostri barbieri hanno seguito corsi di specializzazione e hanno il brevetto bla bla bal</p>
                    <h2 class="h2" style="color:#987654;font-size:150%; font-family: 'Times New Roman', Times, serif; text-align: center;">Le nostre sedi</h2>
                        <p style="text-align: center; margin-left:20%; margin-right:20%;font-size: 100% ; margin-bottom: 10%">Al momento abbiamo 2 sedi principali. E' in corso l'apertura di una nuova sede </p>
                        <div class="d-flex flex-row flex-wrap justify-content-center" style="max-width: 100%; text-align: center; margin-bottom: 80px;">
                                <div class="col">
                                        <iframe class="mp" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2969.834628246186!2d12.51876401564877!3d41.89641347224649!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f6185205c9bfd%3A0x773e8360f9a9e5e!2sEdificio%20Marco%20Polo!5e0!3m2!1sit!2sit!4v1650470089164!5m2!1sit!2sit"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                        <p class="p1">Prima sede a San Lorenzo<br> edificio Marco Polo (Sapienza)</p>
                                </div> 
                                <div class="col">   
                                        <iframe class="mp" src="https://maps.google.com/maps?q=la%20sapienza%20&t=&z=13&ie=UTF8&iwloc=&output=embed"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                        <p class="p1"> Seconda sede in Città universitaria <br> La Sapienza</p>
                                </div>
                        </div>
                        
                        
                    <h2 class="h2" style="margin-top: 20%; color:#987654;font-size:150% ; font-family: 'Times New Roman', Times, serif; text-align: center;">Il nostro team</h2>
                    <div class="row" style="margin-right: 20%; margin-left: 20%;" >  
                        <div class="col">
                                <img src=/img/icon.png onmouseover="bigIcon(this)" onmouseleave="normIcon(this)" class="icon">
                                <p style="text-align: center; color: black;">Francesco - Barbiere</p>
                        </div>
                        <div class="col">
                                <img src=/img/icon.png onmouseover="bigIcon(this)" onmouseleave="normIcon(this)"  class="icon">
                                <p style="text-align: center; color: black;">Marco - Barbiere</p>
                        </div>
                        <div class="col">
                                <img src=/img/icon.png onmouseover="bigIcon(this)" onmouseleave="normIcon(this)" class="icon">
                                <p style="text-align: center; color: black;">Giulia - Barbiere</p>
                        </div>
                        <div class="col">
                                <img src=/img/icon.png  onmouseover="bigIcon(this)" onmouseleave="normIcon(this)" class="icon">
                                <p style="text-align: center; color: black;">Teresa - Segretaria</p>
                        </div>
                    </div>
                    <p id="space" style="height: 50px;"></p>
                </div>


        
        
</div>

        <div class="d-flex  flex-wrap justify-content-center" style="background-color: #987654; border-top-left-radius: 25px; border-top-right-radius: 25px">
				<div>
						<p style="padding-top: 10px; color: white; font-size: 15px; text-align:center">Barber Shop</p> 
						<p style="padding-top: 2px; color: white; font-size: 13px; text-align:center">Via dello Scalo S. Lorenzo, 82, 00159 Roma RM <br> 06 64912836 <br> barbershop@gmail.com</p>
				</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
