<!DOCTYPE html>
<html lang="it">
<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="css/styles.css">
        <script type="text/javascript" src="../js/functions.js"></script> 
</head>
<body onload="myF()">


    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white" id="navbar_barber">
			<a class="navbar-brand px-3" href="/"><img src="../img/barbershop_logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                        <a class="nav-link" href="/">Homepage </a>
                </li>
                <li class="nav-item-active">
                        <a class="nav-link" href="chisiamo">Chi siamo</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="prenota">Prenota Appuntamento</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="#"><strong>Il mio profilo</strong></a>
                </li>
        </ul>
    </div>
    </nav>
    <div class="content text-center">
        <h1 class="h1" style="background-color: #987654; color: white; font-size:6vw; font-family: 'Times New Roman', Times, serif; padding-bottom: 5px; border-radius: 100px;">Barber Shop</h1>
    </div>
    <div class="d-flex flex-column flex-wrap justify-content-center">
        <div class="d-flex flex-row flex-wrap justify-content-start" style="width: 100%;margin-top: 3%;">
             
            <input type="button" value="Logout" onclick="logout()" onmouseover="changeColor2(this)" onmouseleave="colorBack2(this)" style="margin-left: 10%;border-radius:100px; text-align: start ; background-color: #987654; padding-left: 1%; padding-right: 1%; margin-top: 5%; color: white;">
            <h2 style=" text-align: start;width: 50%; color: #987654 ; font-size:250% ; font-family: 'Times New Roman', Times, serif; margin-top: 5%; padding-left: 3%; padding-right: 0%;"><span id="myText"></span></h2> 
        </div>
        <div class="d-flex flex-row flex-wrap " style="width: 100%;"> 
            <div class="d-flex flex-column  justify-content-start" style=" width: 50%;">   
                <form class="formProf2"  method="post"  action="/prenotaConLogin" name="prenotazione" onsubmit="checkInfo(this)" style="height: 70%;">
                    
                        <div class="row justify-content-center" >
                            
                            <h2 class="h2" style=" color: #987654 ; font-size:150% ; font-family: 'Times New Roman', Times, serif; margin-top: 10%;margin-bottom: 10%;">Prenota un appuntamento</h2>
                                <select name="tipo"  style="margin-bottom: 1.5%;width: 80%;" required>
                                    <option value="">Tipo di taglio</option>
                                    <option value="Taglio capelli">Taglio capelli</option>
                                    <option value="Taglio barba">Taglio barba</option>
                                </select>
                                <select name="sede" style="margin-bottom: 1.5%; ;width: 80%;" required>
                                    <option value="">Sede</option>
                                    <option value="Ex Poste">Ex Poste</option>
                                    <option value="Città Universitaria">Città universitaria</option>
                                </select>
                                <input name="giorno" type="date" size="15%" style="margin-top:0.5%;;width: 80%;margin-bottom: 1.5%;" required>
                                <select name="ora" style="width: 80%;" required>
                                    <option value='07:00'>07:00</option>
                                    <option value='07:30'>07:30</option>
                                    <option value='08:00'>08:00</option>
                                    <option value='08:30'>08:30</option>
                                    <option value='09:00'>09:00</option>
                                    <option value='09:30'>09:30</option>
                                    <option value='10:00'>10:00</option>
                                    <option value='10:30'>10:30</option>
                                    <option value='11:00'>11:00</option>
                                    <option value='11:30'>11:30</option>
                                    <option value='12:00'>12:00</option>
                                    <option value='12:30'>12:30</option>
                                    <option value='13:00'>13:00</option>
                                    <option value='13:30'>13:30</option>
                                    <option value='14:00'>14:00</option>
                                    <option value='14:30'>14:30</option>
                                    <option value='15:00'>15:00</option>
                                    <option value='15:30'>15:30</option>
                                    <option value='16:00'>16:00</option>
                                    <option value='16:30'>16:30</option>
                                    <option value='17:00'>17:00</option>
                                    <option value='17:30'>17:30</option>
                                    <option value='18:00'>18:00</option>
                                    <option value='18:30'>18:30</option>
                                    <option value='19:00'>19:00</option>
                                    <option value='19:30'>19:30</option>
                                    <option value='20:00'>20:00</option>
                                </select>
                                
                                        <input hidden type="text" name="nome" style="width: 60%; margin-bottom: 1.5%;" placeholder="Nome">
                                        <input hidden type="text" name="cognome" placeholder="Cognome" style="margin-bottom: 1.5%;width: 60%;">
                                        <select hidden name="genere" style="margin-bottom: 1.5%;width: 60%;">
                                            <option value="e">Genere</option>
                                            <option value="M">M</option>
                                            <option value="F">F</option>
                                        </select>
                                        <input hidden type="tel" name="telefono" placeholder="Telefono" min="3000000000" max="39999999999" style="margin-bottom:1.5%; width: 60%;">
                        </div>
                        <br>
                        <br>
                        <div style="margin-top: 2%; text-align: center;">
                            <input type="submit" value="Prenota" onmouseover="changeColor(this)" onmouseleave="colorBack(this)" href="#" style="border-radius: 20px; text-align: center ; background-color: #987654; padding-left: 6%; padding-right: 6%; padding-top:2%; padding-bottom: 2%; color: white;">
                        </div>
                    
                </form>
                <div class="d-flex flex-column justify-content-center formProf2" style="height: 30%;margin-top: 0%;">
                    <p style= "text-align:center;color: #987654 ; font-size:150% ; font-family: 'Times New Roman', Times, serif; margin-top: 10%;margin-bottom: 3%;">Prenotazioni</p>
                    <!--div class="d-flex flex-column justify-content-center"-->
                        <p style="text-align:start;"><span id="myPren"></span></p>
                    <!--/div-->
                </div>
            </div>
            <div class="d-flex flex-column flex-wrap justify-content-start" style="width: 50%; min-width:500px;height: 100%;">
                <form class="formProf" method="post" action="/modificaUtente" name="registrazione" onsubmit="checkInfo(this)" >
                
                    <h2 class="h2" style="text-align: center; color: #987654 ; font-size:150% ; font-family: 'Times New Roman', Times, serif; margin-top: 10%;margin-bottom: 10%;">Modifica informazioni personali</h2>
                    <p style="text-align: center;">(inserire i campi che si desiderano cambiare)</p>
                    <div class="d-flex flex-row justify-content-center">
                        <div class="d-flex flex-column justify-content-center" >     
                            <div class="d-flex flex-row justify-content-center">
                                <input class="p2" type="text" name="nome" style="width: 80%; margin-bottom: 1.5%;" placeholder="Nome" >
                                <p class="p2" id="nome" ></p>
                            </div>
                            <div class="d-flex flex-row justify-content-center">
                                <input class="p2" type="text" name="cognome" placeholder="Cognome" style="margin-bottom: 1.5%;width: 80%;" >
                                <p class="p2" id="cognome"></p>
                            </div>
                            <div class="d-flex flex-row justify-content-center">
                                <select class="p2" name="genere" style="margin-bottom: 1.5%;width: 80%;"  >
                                    <option value="e">Genere</option>
                                    <option value="M">M</option>
                                    <option value="F">F</option>
                                </select>
                                <p class="p2" id="genere"></p>
                            </div>
                            <div class="d-flex flex-row justify-content-center">
                                <input class="p2" type="tel" name="telefono" placeholder="Telefono" min="3000000000" max="39999999999" style="margin-bottom:1.5%; width: 80%;" >
                                <p class="p2" id="telefono"></p>
                            </div>
                            <div class="d-flex flex-row justify-content-center">
                                <input class="p2" type="email" name="email" placeholder="Email" style="width: 80%;margin-bottom:10%">  
                                <p class="p2" id="email"></p>
                            </div> 
                        </div>
                    </div>
                    <div style="margin-top: 2%; text-align: center;">
                        <input type="submit" value="Modifica" onmouseover="changeColor(this)" onmouseleave="colorBack(this)" href="#" style=" border-radius: 20px; text-align: center ; background-color: #987654; padding-left: 6%; padding-right: 6%; padding-top:2%; padding-bottom: 2%; color: white;">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="d-flex  flex-wrap justify-content-center barraFinePagina">
        
        <div>
                <p class="testoFinePagina" ><b>Barber Shop</b><br>Via dello Scalo S. Lorenzo, 82, 00159 Roma RM <br> 06 64912836 <br> barbershop@gmail.com</p>
        </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

