<!DOCTYPE html>
<html lang="it">
<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/jquery_functions.js"></script>
        
        
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white" id="navbar_barber">
			<a class="navbar-brand px-3" href="/"><img src="../img/barbershop_logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                        <a class="nav-link" href="/">Homepage </a>
                </li>
                <li class="nav-item-active">
                        <a class="nav-link" href="chisiamo">Chi siamo</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="prenota">Prenota Appuntamento</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="profilo">Il mio profilo</a>
                </li>
        </ul>
    </div>
    </nav>
    <div class="content text-center pos1">
        <h1 class="h1 grafica_titolo">Barber Shop</h1>
    </div>
    <br>
    <br>
    <div class="d-flex flex-row pos2" style="text-align: center">
        <div class="d-flex flex-column" style="width: 100%;">
            <div class="d-flex box_registrazione">
                <table class="table_registrazione">
                    <form action="/registrati" method="post" name="registrazione" onsubmit="checkPass()" >
                        <tr><td>
                            <h5>Registrati</h5>
                        <tr><td>
                            <p style="margin-top: 20px">Inserisci tuoi dati:</p>
                        </td></tr>
                        <tr><td>
                            <input class="casella_registrazione" type="text" name="nome" size="20" placeholder="Nome" required>
                        </td></tr>
                        <tr><td>
                            <input class="casella_registrazione" type="text" name="cognome" size="20" placeholder="Cognome" required>
                        </td></tr>
                        <tr style="text-align: left;"><td>
                            <select class="casella_registrazione"name="genere" required>
                                <option value="M">Maschio</option>
                                <option value="F">Femmina</option>
                            </select>
                        </td></tr>
                        <tr><td>
                            <input class="casella_registrazione" type="email" name="email" size="20" placeholder="Email" required>
                        </td></tr>
                        <tr><td>
                            <input class="casella_registrazione" type="tel" name="telefono" size="20"  placeholder="Telefono" required>
                        </td></tr>
                        <tr><td>
                            <input class="casella_registrazione" type="password" name="password" size="20"  placeholder="Password" required>
                        </td></tr>
                        <tr><td>
                            <input class="casella_registrazione" type="password" name="password2" size="20" placeholder="Ripeti Password" required>
                        </td></tr>
                        <tr><td></td></tr>
                        <tr><td>
                                <input class="bottone_generico" type="submit" value="Registrati" onmouseover="changeColor(this)" onmouseleave="colorBack(this)" style="padding-left: 40px; padding-right: 40px; padding-top: 10px; padding-bottom: 10px;">
                        </td></tr>
                        <tr><td>
                            <a class="nav-link" href="login"><small>Hai già un account?</small></a>
                        </td></tr>
                </table>
            </div>
            
            <div class="d-flex flex-column justify-content-center" style="text-align:center; margin-bottom:5%" id="nota_registrazione">
                <p style="line-height: 0.9;margin:5%"><small>
                    I tuoi dati verranno trattati nella rispetto della normativa della privacy. Salviamo i tuoi dati per rendere il servizio più semplice all'utente
                </small></p>
                <img src="../img/registrati_logo.png" id="registrati_logo">

            </div>
        </div>
    </div>

    <div class="d-flex  flex-wrap justify-content-center barraFinePagina">
        
        <div>
                <p class="testoFinePagina" ><b>Barber Shop</b><br>Via dello Scalo S. Lorenzo, 82, 00159 Roma RM <br> 06 64912836 <br> barbershop@gmail.com</p>
        </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
