<!DOCTYPE html>
<html lang="it">
<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="css/styles.css">
        <script type="text/javascript" language="javascript">
            function controlloPW(){
                alert(document.reg.password.value);
                if(document.reg.password.value!=document.reg.password_rip.value){
                    alert("le password non combaciano");
                    return false;
                }
                return true;
            }
            function changeColor(e){
            e.style="border-radius: 20px; text-align: center ; background-color: #987654; padding-left: 40px; padding-right: 40px; padding-top: 10px; padding-bottom: 10px; color: white; box-shadow: 2px 2px 2px black";
            
            }

            function colorBack(e){
                e.style="border-radius: 20px; text-align: center ; background-color: #987654; padding-left: 40px; padding-right: 40px; padding-top: 10px; padding-bottom: 10px; color: white;";
            }
        </script> 
        
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" id="navbar_barber">
			<a class="navbar-brand px-3" href="/"><img src="../img/barbershop_logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                        <a class="nav-link" href="/">Homepage </a>
                </li>
                <li class="nav-item-active">
                        <a class="nav-link" href="chisiamo">Chi siamo</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="prenota">Prenota Appuntamento</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="profilo">Il mio profilo</a>
                </li>
        </ul>
    </div>
    </nav>
    <div class="content text-center">
        <h1 class="h1" style="background-color: #987654; color: white; font-size:6vw; font-family: 'Times New Roman', Times, serif; padding-bottom: 5px; border-radius: 100px;">Barber Shop</h1>
    </div>
    <br>
    <br>
    <div class="d-flex flex-row justify-content-center" style="text-align: center;">
        <div class="d-flex flex-column">
            <div class="d-flex flex-row justify-content-center" style="text-align: center;margin-bottom: 30px; border: 2px solid #5a3a1a; padding-left: 25px;padding-bottom: 25px; border-radius: 20px; padding-right:20px ; padding-top: 25px;">
                <table>
                    <form action="/registrati" method="post" name="registrazione" >
                        <tr><td>
                            <h5>Registrati</h5>
                        <tr><td>
                            <p style="margin-top: 20px">Inserisci tuoi dati personali </p>
                        </td></tr>
                        <tr><td>
                            <input type="text" name="nome" size="20" style="margin-bottom: 5px;" placeholder="Nome" required>
                        </td></tr>
                        <tr><td>
                            <input type="text" name="cognome" size="20" style="margin-bottom: 5px;" placeholder="Cognome" required>
                        </td></tr>
                        <tr style="text-align: left;"><td>
                            <select name="genere" style="margin-bottom: 5px;" required>
                                <option value="M">M</option>
                                <option value="F">F</option>
                            </select>
                        </td></tr>
                        <tr><td>
                            <input type="email" name="email" size="20" style="margin-bottom: 5px;" placeholder="Email" required>
                        </td></tr>
                        <tr><td>
                            <input type="tel" name="telefono" size="20" style="margin-bottom: 5px;" placeholder="Telefono" required>
                        </td></tr>
                        <tr><td>
                            <input type="password" name="password" size="20" style="margin-bottom: 5px;" placeholder="Password" required>
                        </td></tr>
                        <tr><td>
                            <input type="password" name="password2" size="20" style="margin-bottom: 5px;" placeholder="Ripeti Password" required>
                        </td></tr>
                        <tr><td></td></tr>
                        <tr><td>
                                <input type="submit" value="Registrati" onmouseover="changeColor(this)" onmouseleave="colorBack(this)" style="border-radius: 20px; text-align: center ; background-color: #987654; padding-left: 40px; padding-right: 40px; padding-top: 10px; padding-bottom: 10px; color: white;">
                        </td></tr>
                        <tr><td>
                            <a class="nav-link" href="login"><small>Hai già un account?</small></a>
                        </td></tr>
                </table>
            </div>
            
            <div class="d-flex flex-row justify-content-center" style="text-align: center; max-width:fit-content;">
                <p style="line-height: 0.9; margin-bottom: 50px;"><small>
                    I tuoi dati verranno trattati nella rispetto della normativa della privacy. Salviamo i tuoi dati per rendere il servizio più semplice all'utente
                </small></p>
            </div>
        </div>
    </div>

    <div class="d-flex  flex-wrap justify-content-center" style="background-color: #987654; border-top-left-radius: 25px; border-top-right-radius: 25px">
        <div>
                <p style="padding-top: 10px; color: white; font-size: 15px; text-align:center">Barber Shop</p> 
                <p style="padding-top: 2px; color: white; font-size: 13px; text-align:center">Via dello Scalo S. Lorenzo, 82, 00159 Roma RM <br> 06 64912836 <br> barbershop@gmail.com</p>
        </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
